.invitation {
  /* Invitation 타이틀 폰트 조절 */
  h2, .english {
    font-size: 2.8rem;           // 기본 0.9~1.1rem보다 크게 설정
    margin-bottom: 1.5rem;     // 아래 본문과의 간격 확보
    font-weight: normal;       // 필기체 느낌을 살리려면 보통 두께 권장
    letter-spacing: 0.05rem;   // 영문은 자간을 살짝 넓히면 더 고급스러워요
  }

  .content {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    font-size: 0.9rem;
    line-height: 0.5;          // 줄 간격을 1.6배로 설정 (추천)
  }

  .name {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    .relation {
      font-size: 0.75rem;
      opacity: 0.7;

      .relation-name {
        display: inline-block;
        min-width: 2em;
      }
    }
  }
}

.contact-modal {
  width: 22rem;

  .header {
    .title-group {
      text-align: center;
      .title {
        font-size: 1.5rem;
        color: var(--theme-color);
        padding: 0.5rem;
      }
      .subtitle {
        font-size: 0.9rem;
      }
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--dark-grey-color);
    }
  }

  .content {
    padding: 0.7rem;
    padding-bottom: 1rem;

    .contact-info {
      padding: 1rem 0.7rem;
      display: grid;
      grid-template-columns: 8rem 7rem 1fr;
      row-gap: 0.5rem;

      .relation {
        opacity: 0.7;
      }

      .icon {
        fill: var(--dark-color);
        margin: 0 0.5rem 0 0.5rem;
        opacity: 0.7;
        width: 1rem;
        height: 1rem;
        &.flip {
          transform: scaleX(-1);
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
  }
}
